/* Clients */


/* clients h2 */
.clients__h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin: 0;
    margin-bottom: 50px;
    }
    
    /* clients li */
    .clients__li {
    margin-right: 30px;
    flex-basis: calc((100% - 30px * 5) / 6);
    /* clients li:last-of-type */
    &:last-of-type {
    margin-right: 0px;
    }}
    
    /* clients ul */
    .clients__ul {
    display: flex;
    }
 
    /* clients link */
    .clients__a {
    height: 92px;
    border: 1px solid $light-grey;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $light-grey;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* clients link:hover */
    &:hover,
    &:focus {
    border: 1px solid $blue;
    fill: $blue;
    }}

    /* Clients end */
    

      /* mobile */
      @media screen and (max-width: 767px) {
        .clients__ul {
            flex-wrap: wrap;
        }
        .clients__a {
            width: 210px;
        }
        .clients .container {
            margin: 0;
        }
        .clients__li {
            margin: 0;
            margin-bottom: 30px;
        &:nth-child(2n+1) {
            margin-right: 30px;
        }}
      }

      @media screen and (min-width: 768px) {

        .clients__ul {
        width: $tablet;
        flex-wrap: wrap;
        }
        .clients .container {
            margin: 0;
        }
    .clients__li {
        margin: 0;
        margin-right: 30px;
        margin-bottom: 30px;
    &:nth-child(2n+1) {
        margin: 0;
        margin-right: 30px;
    }
}
    .clients__a {
        width: 226px;
        margin: 0;
    }
        }