/* Footer */


/* footer */
.footer {
    background: $dark-grey; 
    padding-top: 60px;
    padding-bottom: 60px;
    }

    /* Footer h2 */
    .connect__h2 {
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    margin:0;
    margin-bottom: 20px;
    }

    /* a */
    .connect__a {
    width: 44px;
    height: 44px;
    border-radius:50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $white;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* a:hover */
    &:hover, 
    &:focus {
    background-color: $blue;
    }}
     
    /* connect-icons */
     .connect-icons, 
     .connect-icons__li {
      display: inline-flex;
      flex-direction: row;
      margin-right: 10px;
  
      &:last-of-type {
      margin-right: 0px;
      }}

    /* Footer flex */
    .footer .container {
    display: flex;
    }

      /* Footer logo */
    .footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: $white;
    line-height: 1.2;
    }

    /* Address margin */
    .footer__address {
    margin-top: 20px;
    margin-right: 70px;
    /* address list margin */
    &--li:not(:last-child)  {
    margin-bottom: 9px;
    }}

  /* Address  */
  .footer__address--a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* Address hover/focus */
  &:hover,
  &:focus {
  color: $blue;
  }}

    /* address */
    .addpos1 {
    line-height: 1.71;
    font-weight: 500;
    color: $white;
    font-style: normal;
    }

    /* Address */
    .addpos2 {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-style: normal;
    }

    /* Web white */
    .web {
    color: $blue;
    }

    /* Subscribe */
    .subscribe {
    margin: 0;
    margin-left: auto;  
    }
    /* Subscribe p */
    .connect__p {
    font-weight: 700;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color: $white;
    margin:0;
    margin-bottom: 20px;
    display: flex;
    }

    /* Email */
    .subscribe__email {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    height: 50px;
    width: 358px;
    padding: 0;
    padding-left: 15px;
    margin-right: 12px;
    }

    /* Submit button */
    .subscribe__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    border: none;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    padding: 0;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $white;
    cursor: pointer;
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* subscribe hover/focus */
    &.subscribe__button:hover,
    &.subscribe__button:focus {
    background: $button-hover;
    }}

    /* svg */
    .subscribe__svg {
    margin-left: 10px;
    }
    
    /* End Footer */
    

     /* Mobile */

     @media screen and (max-width: $tablet) {
      .footer .container {
        flex-wrap: wrap;
        justify-content: center;
      }
      .footer__logo {
        display: flex;
        justify-content: center;
      }
.footer__address {
  margin-bottom: 60px;
}
.footer__address--li {
display: flex;
justify-content: center;
}
.subscribe {
  margin-top: 60px;
}
.connect__h2 {
  text-align: center;
}
.connect__p {
  justify-content: center;
}
.subscribe__email {
width: 450px;
margin-bottom: 20px;
}
.subscribe__button {
  margin-left: 50%;
  transform: translateX(-50%);
}

     }