/* Site nav */


/* Site nav header */
.site-nav {
    background: $white;
    border-bottom: 1px solid $whiteECE;
    position: relative;
    }
    
/* Site nav div */
    .site-nav__div {
      display:flex;
      justify-content: space-between;
      align-items:center;
      height: 60px;
    }

    /* Webstudio logo */
    .site-nav__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: $black;
    line-height: 1.2;
    }

    .site-nav__ul {
      @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
      }
    }

    /* студія портфоліо контакти text */
    .site-nav__page {
    font-weight: 500;
    color: $black;
    padding: 32px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* link hover */
    &:hover,
    &:focus {
    color: $blue;
  }
    @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: block;
    }}

    /* Current page */
    .site-nav__current {
    color: $blue;

    /* Current page :after */
    &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: $blue;
    border-radius: 2px;

    @media screen and (max-width: 767px) {
      background: none;
     }}}

    /* Site nav contacts */
    .site-nav__contacts {
    color: $grey80;
    font-weight: 500;
    fill: $grey75;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* Site nav contacts hover/focus */
    &:hover,
    &:focus {
    fill: $blue;
    color: $blue;
    }
  @media screen and (max-width: 767px) {
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  }}

    /* Site nav contacts icon margin */
    .site-nav__svg {
    margin-right: 10px;
    @media screen and (max-width: 767px) {
      display: none;
      }}   

.site-nav__number {
  @media screen and (max-width: 767px) {
font-size: 34px;
letter-spacing: 0.02em;
color: $blue;

  }
}

/* Site nav ul tab */
.site-nav__ul--tab {
  @media screen and (max-width: 767px) {
flex-direction: column-reverse;
gap: 32px;
padding-top: 300px;
}}

/* Site nav link */
.site-nav__link {
  @media screen and (max-width: 767px) {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    padding-top: 64px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $blue;
}}

/* Site nav link a */
.site-nav__link--a {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $blue;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}}

/* linked a */
#linked-a {
  border: none;
}

    /* Site nav end */
