/* Root */
$black:#212121;
$white:#FFFFFF;
$blue:#2196F3;
$grey80:#808080;
$grey75:#757575;
$whiteF5:#F5F4FA;
$dark-grey:#2F303A;
$whiteECE:#ECECEC;
$whiteEEE:#EEEEEE;
$light-grey:#AFB1B8;
$button-hover:#188CE8;
